<h2 class="titreSignIn">Sign In</h2>

<form [formGroup] = 'formSignin' (ngSubmit)="validerSignin()" class="formulaireSignin">
    <div>
        <input type="text" formControlName = 'nom' placeholder="Entrez votre nom"  >
        <span *ngIf = "formSignin.controls.nom.invalid">Veuillez renseigner un nom correct</span>
    </div>
    <div>
        <input type="text" formControlName = 'prenom' placeholder="Entrez votre prénom" >
        <span *ngIf = "formSignin.controls.prenom.invalid">Veuillez renseigner un prénom correct</span>
    </div>
    <div>
        <input type="text" formControlName = 'mail' placeholder="Entrez votre email" > 
        <span *ngIf = "formSignin.controls.mail.invalid">Veuillez renseigner un mail correct</span>
    </div>
    <div>
        <input type="password" formControlName = 'password' placeholder="Entrez votre password" >
        <span *ngIf = "formSignin.controls.password.invalid">Veuillez renseigner un password correct</span>
    </div>
    <button type="submit" [disabled]="!formSignin.valid">Valider</button>
</form>