<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light">
        <div class="col-2">
          <a class="navbar-brand">Navbar</a>
        </div>
        <div class="col-9">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
          </form>
        </div>
        <div class="col-1">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
      </nav>
    </div>
  </div>
</div>


<app-sidebar></app-sidebar>
<!-- <router-outlet></router-outlet> -->