.container-fluid {

    margin-top:250px;
   
}

.menu {

    padding: 0px;
    
}

.logo{
    border-radius: 50%;
    width: 50px;
    margin-right: 25px;
}



.user{
    color: white;
    margin-right: 120px
}
.log{
    color:grey;
    margin-top: 40px;
    margin-left: -172px;
    
}

.logoName{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.follow{
    display: flex;

}

 .menu a :hover {

    color:rgba(52, 49, 53);
    background-color: rgba(9, 148, 9, 0.9);
    box-shadow: 3px -3px 2px  black;
}

.menu a {

    background-color: rgba(52, 49, 53, 0.9);
    box-shadow: 3px -3px 2px  black;
    color: rgb(3, 141, 3);
    

}

.signInText{
    justify-content: center
}

.signIn{
    color: white
}