<div class="container-fluid">
    
        <div class="row">
            <div class="col-3 menu">
                <a href="" class="btn btn-secondary btn-lg btn-block item"> <i class="fa fa-trophy"
                        aria-hidden="true"></i>&nbsp; Top 50</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 menu">
                <a href="" class="btn btn-secondary btn-lg btn-block item"> <i class="fa fa-cloud"
                        aria-hidden="true"></i>&nbsp; Stream</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 menu">
                <a href="" class="btn btn-secondary btn-lg btn-block item"><i class="fa fa-heart" aria-hidden="true"></i>
                    &nbsp; Likes</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 menu">
                <a href="" class="btn btn-secondary btn-lg btn-block item"> <i class="fa fa-tags"
                        aria-hidden="true"></i>&nbsp; Track</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 menu">
                <a href="" class="btn btn-secondary btn-lg btn-block item"> <i class="fa fa-bookmark"
                        aria-hidden="true"></i>&nbsp; Playlist</a>
            </div>
        </div>
   
</div>