.container-fluid {

    margin-top:250px;
   
}

.menu {

    padding: 0px;
    
}

.logo{
    border-radius: 50%;
    width: 50px;
    margin-right: 80px;
}

.sidebar{
    background-color: rgb(41, 36, 36);

}

.user{
    color: white;
    margin-right: 120px
}
.log{
    color:grey;
    margin-top: 40px;
    margin-left: -175px;
    
}

.logoName{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.follow{
    display: flex;

}

 .menu a :hover {

    color:aqua;
}

.menu a {

    background-color: rgba(52, 49, 53, 0.9);
    box-shadow: 3px -3px 2px  black;
    

}