<div class="row">
    <div class="col-2 sidebar">
        <div class="col-12 logoName">
            <!-- Logo de base, on devra récupérer celui de l'utilisateur après log in -->
            <img src="assets/images/question.jpg" class="logo">
            <!-- Nom de l'utilisateur ( Invité si pas de Login) + Fonction Log In / Log out-->
            <p class="user"> <strong>Invité </strong></p>
            <p class="log"> Log in</p>
        </div>

        <div class="col-12 follow">
            <div class="col-5 following">
                <!-- Il faudra récupérer le nb de personnes followed par la personne logged -->
                <p class="nbFollowing" style="color: grey"> 0 <span style="color: grey">Following</span></p>

            </div>
            <!-- Il faudra récupérer le nb de personnes que la personne follow -->
            <div class="col-5 followers">
                <p class="nbFollowers" style="color: grey"> 0 <span style="color: grey">Followers</span></p>

            </div>
        </div>
    </div>
</div>