<div class="container">
    <h1>PLaylist</h1>
    <div class="row m-1">
        <button (click)="ajout()" *ngIf='!novo'>Ajouter playlist</button>&nbsp;
        <p class="btn btn-success play" (click)="afficher()" *ngIf="isAffich">Afficher playlist</p>
    </div>

    <div class="row m-3" *ngIf="nouveauPlaylist">
        <div class="col-12">
            <section>
                <form>
                    <label for="name">Nom de votre playlist</label>&nbsp;
                    <input type="text" name="playlist" [(ngModel)]="playlist" /> <br>
                    <p class="btn btn-success play" (click)="ajouter()">Ajouter</p>
                </form>
            </section>
        </div>
    </div>

    <div class="row m-3" *ngIf="added==true">
        <div class="col-12" *ngFor="let single of tabAlbumPlaylist">
            <div class="col-5 btn btn-outline-secondary text" (click)="maPlaylist(single.albums)">

                {{single.title}}
            </div>
            <div class="row">
                <button class="btn btn-danger" (click)="deletePlaylist(single)">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12" *ngIf='clicPlaylist'>
            <div class="row">
                <div class="col-2" *ngFor="let elt of albums">
                    <div class="image"><img src="{{elt.image}}" /></div>
                    <div class="text">{{elt.title}}</div>
                    <div class="text">{{elt.chanteur}}</div>
                    <p><i class="fa fa-heart" aria-hidden="true" (click)="like(elt.id)"></i>&nbsp;
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;
                        <i class="fa fa-bookmark like" aria-hidden="true" (click)="ajoutInPlaylist(elt.id)"></i>&nbsp;
                        <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;
                        <i class="fa fa-clipboard" aria-hidden="true"></i></p>&nbsp;
                    <div class="style">{{elt.style}}</div>
                    <button class="btn btn-danger" (click)="delete(elt)">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>