<div class="container">
    <h1>PLaylist</h1>
    <div class="row">
        <button (click)="ajout()" *ngIf='!novo'>Ajouter playlist</button>
        <p class="btn btn-success play" (click)="afficher()">Afficher playlist</p>
    </div>

    <div class="row" *ngIf="nouveauPlaylist">
        <div class="col-12">
            <section>
                <form>
                    <label for="name">Nom de votre playlist</label>&nbsp;
                    <input type="text" name="playlist" [(ngModel)]="playlist" /> <br>
                    <p class="btn btn-success play" (click)="ajouter()">Ajouter</p>
                </form>
            </section>
        </div>
    </div>

    <div class="row " *ngIf="added==true">
        <div class="col-5 btn btn-outline-secondary text" (click)="maPlaylist()" *ngFor="let single of tabPlaylist">
            <div> {{single}} </div>
        </div>
    </div>

    <div class="col-12" *ngIf='clicPlaylist'>
            <div class="row">
                <div class="col-2" *ngFor="let elt of tabAlbumPlaylist" style="margin:5px">
                    <div class="image"><img src="{{elt.image}}" /></div>
                    <div class="text">{{elt.title}}</div>
                    <div class="text">{{elt.chanteur}}</div>
                    <p><i class="fa fa-heart" aria-hidden="true" (click)="like(elt.id)"></i>&nbsp;
                        <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;
                        <i class="fa fa-bookmark" aria-hidden="true" (click)="ajoutInPlaylist(elt.id)"></i>&nbsp;
                        <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;
                        <i class="fa fa-clipboard" aria-hidden="true"></i></p>&nbsp;
                    <div class="style">{{elt.style}}</div>
                </div>
            </div>
        </div>

</div>