/* reprise di css contenu dans album pour refaire le même style */
.style {
    position: absolute;
    margin-top: -284px;
    margin-left: 99px;
    color: white;
    font-weight: bold;
    background-color: black;
    font-size: 16px;
}

.text {
    color: rgb(28, 229, 236);
    font-size: 13px;
    font-weight: bold;
}

img {
    border: 1px solid gray;
    padding: 5px;
    box-shadow: 2px 2px 10px gray;
    -moz-box-shadow: 2px 2px 10px gray;
    -webkit-box-shadow: 2px 2px 10px gray;
    width: 190px;
    height: 232px;
}

p .like {
    color: rgb(0, 255, 0);
}

 p :hover {

    color: rgb(0, 255, 0);

}

p {

    color: white;
}


